* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: Lato;
  padding: 50px 1394px 717px 50px;
}

.cart {
  display: flex;
  width: 284px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.product {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.product-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

.product-stock {
  font-size: 15px;
  line-height: 15px;
}

.product-price {
  font-size: 12px;
  line-height: 16px;
}

.button {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 25px;
  background: #0a003c;
  transition: background 0.5s ease-out;
}

.button:hover {
  background: #4924ff;
}

.button-text {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}
